<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/aboutUs.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap"
        rel="stylesheet">
    <title>About Us</title>
</head>
<body>
    <div class="spacer container" id="aboutUs">

        <div class="stickyHeader slide-in-top">
            <img id="logo" src="#" alt="LOGO">
            <ul id="links">
                <a class="headerLink" href="/">
                    <li class="headerLink">Home</li>
                </a>
                <a href="#">
                    <li class="headerLink">About Us</li>
                </a>
                <a href="/services">
                    <li class="headerLink">Services</li>
                </a>
                <a href="/careers">
                    <li class="headerLink">Careers</li>
                </a>
                <a href="/contactUs">
                    <li class="headerLink">Contact Us</li>
                </a>
            </ul>
        </div>
    
        <div id="aboutUsContainer">

            <div id="aboutUsVideoContainer">
                <video id="aboutUsVideo" autoplay="" loop="" muted="" playsinline="">
                
                    <source src="/images/aboutUsVideo.mp4" type="video/mp4">
                
                </video>
            </div>
    
    
            <div id="aboutUsTextContainer">

                <h1 id="textTitle">Come join the Apex Elite Direct Family</h1>

                <div id="Text">
                    This is to test the language
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a
                    galley of type
                    and scrambled it to make a type specimen book. It has survived not only five
                    centuries, but also the
                    leap into electronic typesetting, remaining.
                </div>

            </div>

        </div>
    </div>

    <div id="aboutUsMiddleSection">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a
        </p>
    </div>

    <div id="aboutUsTileContainer">
        <div class="aboutUsTiles">
            <img class="aboutUsImage" src="/images/performanceDriven.jpg">
            <h2>Performance Driven</h2>
            <p>
                Metrics matter and we are driven by them. The process is an ever evolving one and we will continue to improve with each iteration
            </p>
        </div>

        <div class="aboutUsTiles">
            <img class="aboutUsImage" src="/images/customApproach.jpg">
            <h2>Custom Approach</h2>
            <p>
                We work closely with you to analyze your business needs and build a custom approach to help you reach your targets
            </p>
        </div>

        <div class="aboutUsTiles">
            <img class="aboutUsImage" src="/images/clientFocused.jpg">
            <h2>Client Focused</h2>
            <p>
                Our focus is to make YOU look good to YOUR clients while setting YOU up to take the credit. We work behind the scenes to deliver value to YOUR customers
            </p>
        </div>

        <div class="aboutUsTiles">
            <img class="aboutUsImage" src="/images/trustedPartners.jpg">
            <h2>Trusted Partner</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Nunc sed blandit libero volutpat sed. Et egestas quis.
            </p>
        </div>
    </div>

    <div id="aboutUsOurTeamContainer">
        <div class="aboutUsOurTeamTile" id="dana">
            <img id="danaPic" class="aboutUsOurTeamImage" src="#">
            <h2>CEO</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Nunc sed blandit libero volutpat sed.
            </p>
        </div>

        <div class="aboutUsOurTeamTile" id="derek">
            <img id="derekPic" class="aboutUsOurTeamImage" src="#">
            <h2>Lead Developer</h2>
            <p>
                Derek is a dedicated programmer who really enjoys seeing a blank canvas come to life. Constantly striving to improve himself in all aspects
            </p>
        </div>

    </div>

    <div id="aboutUsContactUsContainer">
        <h1 id="wantToWorkWithUs">Want To Work With Us?</h1>
        <a class="contactUs" href="http://apexdirectmarketing.herokuapp.com/contactus">Contact Us</a>
    </div>

    <div id="triangles">
    
        <div id="leftTriangle"></div>
        <div id="rightTriangle"></div>
    
    </div>
    
    <footer>
    
        <div id="topFooterSection">
            <div id="locationInfo">
                <h2>Location</h2>
    
            </div>
    
            <div id="socialMediaContainer">
                <h2>We're Social</h2>
                <div id="socialMedia">
                    <a target="_blank" href="#"><img class="socialMedia" id="facebook"
                            src="/images/facebook.png" alt="FB"></a>
    
                    <a target="_blank" href="https://twitter.com/apexelitedirect"><img
                            class="socialMedia" src="/images/twitter.png" alt="Twitter"></a>
    
                    <a target="_blank" href="https://linkedin.com/in/dana-davis-680200b"><img
                            class="socialMedia" src="/images/linkedIn.svg" alt="LI"></a>
                </div>
    
            </div>
    
            <div id="contactInfo">
                <h2>Contact Info</h2>
                <p id="phoneNumber">502-551-3347</p>
                <p><a href="http://apexdirectmarketing.herokuapp.com/contactus">Send us a message</a>
                </p>
            </div>
    
        </div>
    
    </footer>

    <script src="/js/main.js"></script>
</body>
</html>