<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/aboutUs.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap"
        rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>About Us</title>
</head>
<body>
    <div class="spacer container" id="aboutUs">

        <!-- MOBILE NAVIGATION BAR -->

        <div class="stickyHeader closed slide-in-top" id="mobileHeader">
                <img id="mobileLogo" class="mobileLogo" src="/images/apexLogo.png" alt="LOGO">
                <ul id="mobileLinks">
                    <a class="headerLink" href="/"><li class="headerLink">Home</li></a>
                    <a href="#"><li class="headerLink selected">About Us</li></a>
                    <a href="/services"><li class="headerLink">Services</li></a>
                    <a href="/careers"><li class="headerLink">Careers</li></a>
                    <a href="/contactUs"><li class="headerLink">Contact Us</li></a>
                </ul>
                <div id="hamburgerMenu">X</div>
            </div>

            <!-- DESKTOP NAVIGATION BAR -->

        <div class="stickyHeader slide-in-top">
            <img id="logo" src="/images/apexLogo.png" alt="LOGO">
            <ul id="links">
                <a class="headerLink" href="/">
                    <li class="headerLink">Home</li>
                </a>
                <a class="selected" href="#">
                    <li class="headerLink">About Us</li>
                </a>
                <a href="/services">
                    <li class="headerLink">Services</li>
                </a>
                <a href="/careers">
                    <li class="headerLink">Careers</li>
                </a>
                <a href="/contactUs">
                    <li class="headerLink">Contact Us</li>
                </a>
            </ul>
        </div>
    
        <div id="aboutUsContainer">

            <div data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="1000"  id="aboutUsVideoContainer">
                <video id="aboutUsVideo" autoplay="" loop="" muted="" playsinline="">
                
                    <source src="/images/aboutUsVideo.mp4" type="video/mp4">
                
                </video>
            </div>
    
    
            <div data-aos="fade-left" data-aos-duration="1000" id="aboutUsTextContainer">

                <h1 id="textTitle">Come join the Apex Elite Direct Family</h1>

                <div id="Text">
                    In this world of amazing tools to succeed, let our team help you navigate through the details for
                    your success. Don't let the TERMS PHP | Magento | WordPress | Vue.js | Shopify | Zend | Code Igniter
                    | Native: IOS/Android | SEO | SMO | LBLO | Google Adwords | Facebook Ads and many more... scare you
                    away from taking them and your passions to the next digital level. Let's explore together and
                    collaborate a plan that works. We'll get YOU and YOUR team to the places you always visioned to get
                    to!
                </div>

            </div>

        </div>
    </div>

    <div id="aboutUsMiddleSection">
        <h3>APEX ELITE DIRECT MISSION</h3>
        <p>
           Apex is a driving force in todays high energy high-tech marketplace. Whether its building, enhancing, or designing we are front and center with our creative teams to assist and deliver what your company needs
        </p>
    </div>

    <div id="aboutUsTileContainer">
        <div data-aos="zoom-out" data-aos-duration="500" class="aboutUsTiles">
            <img class="aboutUsImage" src="/images/performanceDriven.jpg">
            <h2>Performance Driven</h2>
            <p>
                Metrics matter and we are driven by them. The process is an ever evolving one and we will continue to improve with each iteration
            </p>
        </div>

        <div data-aos="zoom-out" data-aos-duration="500"  class="aboutUsTiles">
            <img class="aboutUsImage" src="/images/customApproach.jpg">
            <h2>Custom Approach</h2>
            <p>
                We work closely with YOU to analyze YOUR business needs and build a custom approach to help YOU reach YOUR targets
            </p>
        </div>

        <div data-aos="zoom-out" data-aos-duration="500"  class="aboutUsTiles">
            <img class="aboutUsImage" src="/images/clientFocused.jpg">
            <h2>Client Focused</h2>
            <p>
                Our focus is to make YOU look good to YOUR clients while setting YOU up to take the credit. We work behind the scenes to help YOU deliver value to YOUR customers
            </p>
        </div>

        <div data-aos="zoom-out" data-aos-duration="500"  class="aboutUsTiles">
            <img class="aboutUsImage" src="/images/trustedPartners.jpg">
            <h2>Trusted Partner</h2>
            <p>
                We promise to help YOU reduce and control your operating costs by focusing on YOUR core competencies. Our reputation goes with it
            </p>
        </div>
    </div>

    <h1 id="meetTheTeam">MEET OUR TEAM</h1>

    <div id="aboutUsOurTeamContainer">

                <div class="aboutUsOurTeamTile" id="dana">
                    
                    <img id="danaPic" class="aboutUsOurTeamImage" src="/images/dana.jpg">
                    <h2>CEO</h2>
                    <p>
                        Dana has 40 years experience in the marketing business! A leader/owner in 3 different business' with proven results and a track record unsurpassed in growth and recruiting overachievers in the marketing business
                    </p>
                </div>

                <div id="aboutUsOurTeamContainer">
                    <div class="aboutUsOurTeamTile" id="cindy">
                        <img id="cindyPic" class="aboutUsOurTeamImage" src="/images/cindyPic.jpg">
                        <h2>VP Human Resources</h2>
                        <p>
                            Cynthia comes to our team from years of management in the Health care arena. She provides the personal touch in all the dotting of the "i's" and crossing the "t's". Let her 30+ years of experience go to work with the highest level of perfection for YOU and YOUR team
                        </p>
                    </div>

                <div class="aboutUsOurTeamTile" id="cindy">
                    <img id="derekPic" class="aboutUsOurTeamImage" src="/images/derekPic.jpeg">
                    <h2>Senior Vice President</h2>
                    <p>
                        Derek is a tenacious and dedicated full-stack developer who thoroughly enjoys seeing a blank canvas come to life. He is constantly striving to improve his skills by learning new things daily and striving to be better than he was yesterday
                    </p>
                </div>

                <div class="aboutUsOurTeamTile" id="pilar">
                    <img id="pilarPic" class="aboutUsOurTeamImage" src="/images/pilar.jpg">
                    <h2>Lead UI/UX Designer</h2>
                    <p>
                        Pilar enjoys creating interactive and beautiful designs that make websites and displays pop. She likes to brings ideas to life using storyboards and wireframes while taking in account the clients needs. Pilar loves seeing a project come together that is both functional and appealing
                    </p>
                </div>
    </div>
    

    <div id="aboutUsContactUsContainer">
        <h1 id="wantToWorkWithUs">Let Our Team Go To Work For You Today</h1>
        <a class="contactUs" href="http://www.apexelitedirectmarketing.com/contactus">Contact Us</a>
    </div>

    
    
    <footer>

        <div id="triangles">
        
            <div id="leftTriangle"></div>
            <div id="rightTriangle"></div>
        
        </div>
    
        <div id="topFooterSection">
            <div id="locationInfo">
                <h2>Location</h2>
                <p id="locationInfo">Lousville, KY</p>
            </div>
    
            <div id="socialMediaContainer">
                <h2>We're Social</h2>
                <div id="socialMedia">
                    <a target="_blank" href="#"><img class="socialMedia" id="facebook"
                            src="/images/facebook.png" alt="FB"></a>
    
                    <a target="_blank" href="https://twitter.com/apexelitedirect"><img
                            class="socialMedia" src="/images/twitter.png" alt="Twitter"></a>
    
                    <a target="_blank" href="https://linkedin.com/in/dana-davis-680200b"><img
                            class="socialMedia" src="/images/linkedIn.svg" alt="LI"></a>
                </div>
    
            </div>
    
            <div id="contactInfo">
                <h2>Contact Info</h2>
                <p id="phoneNumber">502-551-3347</p>
                <p><a href="http://apexdirectmarketing.herokuapp.com/contactus">Send us a message</a>
                </p>
            </div>
    
        </div>
    
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="/js/main.js"></script>
    <script>
        var mobileHeader = document.getElementById("mobileHeader");
        document.getElementById("mobileLogo").addEventListener("click", ()=>{
            if(mobileHeader.classList.contains("closed")){
                mobileHeader.classList.remove("closed")
                mobileHeader.style.height = "200px"
                document.getElementById("mobileLinks").style.display = "block"
            } else {
                //mobileHeader.classList.remove("open")
                mobileHeader.classList.add("closed")
                mobileHeader.style.height = "70px"
                document.getElementById("mobileLinks").style.display = "none"
            }            
        })
    </script>
</body>
</html>