<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <title>Careers</title>
</head>
<body>
    <div class="spacer container" id="contactUsHeader">
    
        <div class="stickyHeader slide-in-top">
            <img id="logo" src="/images/apexLogo.png" alt="LOGO">
            <ul id="links">
                <a class="headerLink" href="/">
                    <li class="headerLink">Home</li>
                </a>
                <a href="/aboutus">
                    <li class="headerLink">About Us</li>
                </a>
                <a href="/services">
                    <li class="headerLink">Services</li>
                </a>
                <a class="selected" href="/careers">
                    <li class="headerLink">Careers</li>
                </a>
                <a href="/contactUs">
                    <li class="headerLink">Contact Us</li>
                </a>
            </ul>
        </div>
        
        <div id="pageContainer">

            <div>


            </div>
        
            <!-- BELOW IS ANOTHER VERSION OF THE FORM THAT IS DIVIDED UP INTO QUESTION/CELLS -->

            
            <!-- <script class="test" type="text/javascript" src="https://form.jotform.com/jsform/193546023691157"></script> -->

            <h1 id="applyNow">Apply Now</h1>

            <div id="jotFormContainer">

                <script type="text/javascript" src="https://form.jotform.com/jsform/193547069355165"></script>

            </div>


            <!-- BELOW IS THE FOOTER CODE -->

            <div id="triangles">
            
                <div id="leftTriangle"></div>
                <div id="rightTriangle"></div>
            
            </div>
            
            <footer>
            
                <div id="topFooterSection">
                    <div id="locationInfo">
                        <h2>Location</h2>
                        <p id="locationInfo">Lousville, KY</p>
                    </div>
            
                    <div id="socialMediaContainer">
                        <h2>Check Us Out</h2>
                        <div id="socialMedia">
                            <a target="_blank" href="#"><img class="socialMedia" id="facebook"
                                    src="/images/facebook.png" alt="FB"></a>
            
                            <a target="_blank" href="https://twitter.com/apexelitedirect"><img
                                    class="socialMedia" src="/images/twitter.png" alt="Twitter"></a>
            
                            <a target="_blank" href="https://linkedin.com/in/dana-davis-680200b"><img
                                    class="socialMedia" src="/images/linkedIn.svg" alt="LI"></a>
                        </div>
            
                    </div>
            
                    <div id="contactInfo">
                        <h2>Contact Info</h2>
                        <p id="phoneNumber">502-551-3347</p>
                        <p><a href="http://apexdirectmarketing.herokuapp.com/contactus">Send us a message</a>
                        </p>
                    </div>
            
                </div>
            
            </footer>
        
        </div>
</body>
</html>