<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/main.css" type="text/css" rel="stylesheet">
    <title>Apex Elite Direct</title>
</head>
<body>
    <div id="pageContainer">
        <div class="container" id="mainLandingPage">
            <div class="noSticky slide-in-top" id="header">
                <img id="logo" src="#" alt="LOGO">
                <ul id="links">
                    <a class="headerLink" href="#"><li class="headerLink">Home</li></a>
                    <a href="#aboutUs"><li class="headerLink">About Us</li></a>
                    <a href="#services"><li class="headerLink">Services</li></a>
                    <a href="#careers"><li class="headerLink">Careers</li></a>
                    <a href="#contactUs"><li class="headerLink">Contact Us</li></a>
                </ul>
            </div>
        
            <video id="mainVideo" autoplay="" loop="" muted="" playsinline="">
                
                <source
                    src="/images/mainVideo.mp4" type="video/mp4">"
                    
            
            </video>
            <!-- <a href="#aboutUs"><div id="button"></div></a> -->
        </div>

        <div class="spacer container" id="aboutUs">
                About Us Section
        </div>

        <div class="container spacer" id="services">
            Services Section
        </div>

        <div class="container spacer" id="careers">
            Careers Section
        </div>

        <div class="container spacer" id="contactUs">
            Contact Us Section
        </div>
    </div>

    
    

    <script src="/js/main.js"></script>
</body>
</html>