<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" user-scalable=no, content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/main.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap"
        rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script type="application/json:">
        {
            "@type" : "JobPosting",
            "title" : "Marketing Agent",
            "description" : "<p>Agents will enroll families into a free government benefit program called Lifeline. Agents are on location at community events, outside retail stores, grocery stores, VA Centers, any location to qualify and enroll families in the program. We will train with a great work ethic. Weekly bonus based on reaching goals. There is plenty of opportunity for rapid advancements. No glass ceilings to this position!</p>",
                "identifier" : {
                    "@type": "Marketing Company",
                    "name" : "Apex Elite Direct Marketing",
                },
                "datePosted" : "2020-01-01",
                "employmentType" : "Full-Time",
                "hiringOrganization" : {
                    "@type" : "organization",
                    "name" : "Apex Elite Direct Marketing",
                    "sameAs" : "http://www.apexelitedirectmarketing.com"
                },
                "baseSalary" : {
                    "@type" : "MonetaryAmount",
                    "currency" : "USD",
                    "value" : {
                        "@type" : "QuantitativeValue",
                        "value" : "1000.00",
                        "unitText" : "AVG/WEEKLY"                    
                    }
                }
            }
        
    </script>
    <title>Apex Elite Direct</title>
</head>
<body>
    <div id="pageContainer">
        <div class="container" id="mainLandingPage">

            <!-- MOBILE NAVIGATION MENU -->

            <div class="stickyHeader closed slide-in-top" id="mobileHeader">
                <img id="mobileLogo" class="mobileLogo" src="/images/apexLogo.png" alt="LOGO">
                <ul id="mobileLinks">
                    <a class="headerLink selected" href="#"><li class="headerLink">Home</li></a>
                    <a href="/aboutus"><li class="headerLink">About Us</li></a>
                    <a href="/services"><li class="headerLink">Services</li></a>
                    <a href="/careers"><li class="headerLink">Careers</li></a>
                    <a href="/contactUs"><li class="headerLink">Contact Us</li></a>
                </ul>
                <div id="hamburgerMenu">X</div>
            </div>

            <!-- DESKTOP NAVIGATION MENU -->

            <div class="noSticky slide-in-top" id="header">
                <img id="logo" src="/images/apexLogo.png" alt="LOGO">
                <ul id="mobileLinks">
                    <a class="headerLink selected" href="#"><li class="headerLink">Home</li></a>
                    <a href="/aboutus"><li class="headerLink">About Us</li></a>
                    <a href="/services"><li class="headerLink">Services</li></a>
                    <a href="/careers"><li class="headerLink">Careers</li></a>
                    <a href="/contactUs"><li class="headerLink">Contact Us</li></a>
                </ul>
            </div>

        
            <video title="marketingVideo" id="mainVideo" autoplay="" loop="" muted="" playsinline="">
                
                <source
                    src="/images/mainVideo.mp4" type="video/mp4">
            
            </video>
            
        </div>
        
        <div id="whatWeDo">

            <div data-aos="zoom-in" data-aos-duration="500" class="whatWeDoItem"  id="experience">

                <img alt="business2Business Image" class="whatWeDoImage" src="/images/Business2Business.png">
                
                <h2 class="whatWeDoTitle">Business to Business</h2>
                
                <div class="text">Hand-crafted to transform <b>YOUR</b> business building exceptional value</div>

            </div>

            <div data-aos="zoom-in" data-aos-duration="500" class="whatWeDoItem" id="retail">
            
                <img alt="retail2Consumers Image" class="whatWeDoImage" src="/images/shoppingCart.png">
            
                <h2 class="whatWeDoTitle">Retail to Consumer</h2>
            
                <div class="text">Creating unique experiences that get <b>YOU</b> noticed</div>
            
            </div>

            <div data-aos="zoom-in" data-aos-duration="500" class="whatWeDoItem"  id="merchandising">

                <img alt="directSales Image" class="whatWeDoImage" src="/images/handshake.png">
                
                <h2 class="whatWeDoTitle">Direct Sales</h2>
                
                <div class="text">Collaborating with <b>YOUR</b> vision to provide exceptional results worth the difference</div>

            </div>

        </div>

        <div id="whyUs">

            <h1 id="whyUsTitle">Apex Elite Direct Marketing | Resource for Outsourcing Sales and Marketing</h1>

            <p id="whyUsText">Apex Elite Direct Marketing is a leading edge company that recruits, hires, trains, and cultivates Sales Representatives, Influencers, Merchandisers, Designers, Brand Ambassadors, and Developers with top notch talent to create all around solutions that provide your business with proven results. We'll help you build brand awareness, grow  your market share, connect with consumers and expand your distribution channel.</p>

        </div>

        <div id="whatAreYou">
            <div id="mobileWhatAreYouImageContainer">
                <img id="mobileWhatAreYouImage" src="/images/whatAreYouImage.jpg">
            </div>

            <div data-aos="fade-right" data-aos-duration="1000" id="whatAreYouTextContainer">
                <h1>Are you a company?</h1>
                <p>
                    We live in a world of rapid change. Today, mobile applications as well as the internet are changing the way we communicate, work and live. Whether you have a brick and mortar store, an online-only business, or a great product you want to share with the world, we are ready for you! We are revolutionizing the marketing world one business at a time. Contact us now to see how we can help you achieve your goals!
                </p><a id="learnMore" href="http://apexdirectmarketing.herokuapp.com/services">LEARN MORE</a>
            </div>

            <div data-aos="fade-left" data-aos-duration="1000" id="whatAreYouImageContainer">
                <img id="whatAreYouImage" src="/images/whatAreYouImage.jpg">
            </div>
        </div>

        <div id="jobSeekers">

            <div id="jobSeekersContainer">

                <div data-aos="fade-right" data-aos-duration="500" id="jobSeekersVideoContainer">
                    <video id="mainVideo" autoplay="" loop="" muted="" playsinline="">
                    
                        <source src="/images/jobSeekersVideo.mp4" type="video/mp4">
                    
                    </video>
                </div>

                <div data-aos="fade-left" data-aos-duration="500" id="jobSeekersTextContainer">
                    <h1 id="jobSeekersTitle">Are you a job seeker?</h1>
                    <p>
                        We have part-time, full-time and project based work for YOU! You have come to the right place. With flexible hours to fit your busy life we let your creativity flow. Take your career to the next level, while working for a company that gives you the platform to work with awesome people and do amazing things. We want people to bring their passion while performing with world class excellence. Discover a world of opportunities. Apply today!
                    </p>
       
                </div>
                <a id="applyNow" href="http://www.apexelitedirectmarketing.com/careers">APPLY NOW</a>
            </div>

        </div>
      
        <div id="triangles">

        <div id="leftTriangle"></div>
        <div id="rightTriangle"></div>

        </div>

        <footer>

        <div id="topFooterSection">
            <div id="locationInfo">
                <h2>Location</h2>
                <p id="locationInfo">Lousville, KY</p>
            </div>

            <div id="socialMediaContainer">
                <h2>Check Us Out</h2>
                <div id="socialMedia">
                    <a target="_blank" href="#"><img class="socialMedia" id="facebook" src="/images/facebook.png" alt="FB"></a>

                    <a target="_blank" href="https://twitter.com/apexelitedirect"><img class="socialMedia" src="/images/twitter.png" alt="Twitter"></a>

                    <a target="_blank" href="https://linkedin.com/in/dana-davis-680200b"><img class="socialMedia" src="/images/linkedIn.svg" alt="LI"></a>
                </div>

            </div>

            <div id="contactInfo">
                <h2>Contact Info</h2>
                    <p id="phoneNumber">502-551-3347</p>
                    <p><a href="http://apexdirectmarketing.herokuapp.com/contactus">Send us a message</a></p>
            </div>

        </div>

        </footer>

    
    <script src="/js/main.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init()</script>
    <script>
        var mobileHeader = document.getElementById("mobileHeader");
        document.getElementById("mobileLogo").addEventListener("click", ()=>{
            if(mobileHeader.classList.contains("closed")){
                mobileHeader.classList.remove("closed")
                mobileHeader.style.height = "200px"
                document.getElementById("mobileLinks").style.display = "block"
            } else {
                //mobileHeader.classList.remove("open")
                mobileHeader.classList.add("closed")
                mobileHeader.style.height = "70px"
                document.getElementById("mobileLinks").style.display = "none"
            }            
        })
    </script>
</body>
</html>