<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/main.css" type="text/css" rel="stylesheet">
    <title>Apex Elite Direct</title>
</head>
<body>
    <div id="pageContainer">
        <div class="container" id="mainLandingPage">
            <div class="noSticky slide-in-top" id="header">
                <img id="logo" src="#" alt="LOGO">
                <ul id="links">
                    <a class="headerLink" href="#"><li class="headerLink">Home</li></a>
                    <a href="/aboutus"><li class="headerLink">About Us</li></a>
                    <a href="/services"><li class="headerLink">Services</li></a>
                    <a href="/careers"><li class="headerLink">Careers</li></a>
                    <a href="/contactUs"><li class="headerLink">Contact Us</li></a>
                </ul>
            </div>
        
            <video id="mainVideo" autoplay="" loop="" muted="" playsinline="">
                
                <source
                    src="/images/mainVideo.mp4" type="video/mp4">
                    
            <button id="next"></button>
            
            </video>
            
        </div>
        
        <div id="whatWeDo">
            <div class="whatWeDoItem" id="retail">

                <img src="#">

                <h4 class="whatWeDoTitle">Retail <br> Business to Consumer <br> Business to Business</h4>

                <div class="text">Some text will go here</div>

            </div>

            <div class="whatWeDoItem"  id="experience">

                <img src="#">
                
                <h4 class="whatWeDoTitle">Retail <br> Business to Consumer <br> Business to Business</h4>
                
                <div class="text">Some text will go here</div>

            </div>

            <div class="whatWeDoItem"  id="merchandising">

                <img src="#">
                
                <h4 class="whatWeDoTitle">Retail <br> Business to Consumer <br> Business to Business</h4>
                
                <div class="text">Some text will go here</div>

            </div>

            <div class="whatWeDoItem"  id="training">

                <img src="#">
                
                <h4 class="whatWeDoTitle">Retail <br> Business to Consumer <br> Business to Business</h4>
                
                <div class="text">Some text will go here</div>

            </div>
        </div>

        <div id="arrow">

            <div id="leftTriangle"></div>
            <div id="rightTriangle"></div>

        </div>

        <footer>

        <div id="topFooterSection">
            <div id="locationInfo">
                <h2>Location</h2>

            </div>

            <div id="socialMediaContainer">
                <h2>Check Us Out</h2>
                <div id="socialMedia">
                    <img src="#" alt="FB">
                    <img src="#" alt="IG">
                    <img src="#" alt="LI">
                </div>

            </div>

            <div id="contactInfo">
                <h2>Contact Info</h2>

            </div>

        </div>

        <div id="bottomFooterSection">

        </div>

        </footer>

    
    <script src="/js/main.js"></script>
</body>
</html>