<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/main.css" type="text/css" rel="stylesheet">
    <title>Apex Elite Direct</title>
</head>
<body>
    <div id="pageContainer">
        <div class="container" id="mainLandingPage">
            <div class="noSticky" id="header">
                <ul id="links">
                    <li class="headerLink">link1</li>
                    <li class="headerLink">link2</li>
                    <li class="headerLink">link3</li>
                    <li class="headerLink">link4</li>
                </ul>
            </div>
            <video id="mainVideo" autoplay="" loop="" muted="" playsinline="">
                
                <source
                    src="/images/mainVideo.mp4"
                    type="video/mp4">
            
            </video>
        </div>

        <div class="container" id="about">

        </div>
    </div>

    
    

    <script src="/js/main.js"></script>
</body>
</html>