<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/services.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap"
        rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Our Services</title>
</head>
<body>

    <div class="spacer container" id="services">
    
        <div class="stickyHeader slide-in-top">
            <img id="logo" src="/images/apexLogo.png" alt="LOGO">
            <ul id="links">
                <a class="headerLink" href="/">
                    <li class="headerLink">Home</li>
                </a>
                <a href="/aboutus">
                    <li class="headerLink">About Us</li>
                </a>
                <a class="selected" href="/services">
                    <li class="headerLink">Services</li>
                </a>
                <a href="/careers">
                    <li class="headerLink">Careers</li>
                </a>
                <a href="/contactUs">
                    <li class="headerLink">Contact Us</li>
                </a>
            </ul>
        </div>

        <div id="ourServicesTileContainer">
                <h1 id="servicesPageTitle">OUR SERVICES</h1>
                <h3 id="servicesPageSubTitle">We Adapt To YOUR Business Needs</h3>
                <div id="servicesContainer">

                    <div data-aos="zoom-in" data-aos-duration="500" id="directSales" class="servicesTile">
                        <img class="servicesImage" src="/images/directSales.jpg">
                        <h2>Direct Sales</h2>
                    </div>

                    <div data-aos="zoom-in" data-aos-duration="500" id="interactive" class="servicesTile">
                        <img class="servicesImage" src="/images/interactive.jpg">
                        <h2>Interactive</h2>
                    </div>

                    <div data-aos="zoom-in" data-aos-duration="500" id="retailEvents" class="servicesTile">
                        <img class="servicesImage" src="/images/Retail_and_Events.jpg">
                        <h2>Retail & Events</h2>
                    </div>

                    <div data-aos="zoom-in" data-aos-duration="500" id="merchandising" class="servicesTile">
                        <img class="servicesImage" src="/images/Merchandising.jpg">
                        <h2>Merchandising</h2>
                    </div>

                    <div data-aos="zoom-in" data-aos-duration="500" id="training" class="servicesTile">
                        <img class="servicesImage" src="/images/Training.jpg">
                        <h2>Training & Advocacy</h2>
                    </div>

            </div>

        </div>

        <div id="seoInformationContainer">
            <h2 id="seoTitle">SEO (Search Engine Optimization) For YOUR Business</h2>

            <div id="seoText">
                <h3>The process of making changes to your website and design as well as including keywords to get your page higher up in search engine listings. Let us help you increase your organic traffic and get YOUR business out in front of YOUR customers</h3>
            </div>
        </div>

        <div id="triangles">
            <div id="leftTriangle"></div>
            <div id="rightTriangle"></div>
        
        </div>
        
        <footer>
        
            <div id="topFooterSection">
                <div id="locationInfo">
                    <h2>Location</h2>
                    <p id="locationInfo">Lousville, KY</p>
                </div>
        
                <div id="socialMediaContainer">
                    <h2>Check Us Out</h2>
                    <div id="socialMedia">
                        <a target="_blank" href="#"><img class="socialMedia" id="facebook"
                                src="/images/facebook.png" alt="FB"></a>
        
                        <a target="_blank" href="https://twitter.com/apexelitedirect"><img
                                class="socialMedia" src="/images/twitter.png" alt="Twitter"></a>
        
                        <a target="_blank" href="https://linkedin.com/in/dana-davis-680200b"><img
                                class="socialMedia" src="/images/linkedIn.svg" alt="LI"></a>
                    </div>
        
                </div>
        
                <div id="contactInfo">
                    <h2>Contact Info</h2>
                    <p id="phoneNumber">502-551-3347</p>
                    <p><a href="http://apexdirectmarketing.herokuapp.com/contactus">Send us a message</a>
                    </p>
                </div>
        
            </div>

        </footer>

        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>AOS.init()</script>
</body>
</html>