<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <title>Our Services</title>
</head>
<body>

    <div class="spacer container" id="services">
    
        <div class="stickyHeader slide-in-top">
            <img id="logo" src="#" alt="LOGO">
            <ul id="links">
                <a class="headerLink" href="/">
                    <li class="headerLink">Home</li>
                </a>
                <a href="/aboutus">
                    <li class="headerLink">About Us</li>
                </a>
                <a href="/services">
                    <li class="headerLink">Services</li>
                </a>
                <a href="/careers">
                    <li class="headerLink">Careers</li>
                </a>
                <a href="/contactUs">
                    <li class="headerLink">Contact Us</li>
                </a>
            </ul>
        </div>

            <h1 id="servicesPageTitle">OUR SERVICES</h1>
            <h3 id="servicesPageSubTitle">Adapt To Your Business Needs</h3>
        <div id="servicesContainer">

            <div class="servicesTile">
                <img class="servicesImage" src="#">
                <h2>Retail & Events</h2>
            </div>

            <div class="servicesTile">
                <img class="servicesImage" src="#">
                <h2>Direct Sales</h2>
            </div>

            <div class="servicesTile">
                <img class="servicesImage" src="#">
                <h2>Training & Advocacy</h2>
            </div>

            <div class="servicesTile">
                <img class="servicesImage" src="#">
                <h2>Experienced Partners</h2>
            </div>

            <div class="servicesTile">
                <img class="servicesImage" src="#">
                <h2>Merchandising</h2>
            </div>

        </div>
</body>
</html>