body{
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.stickyHeader{
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index: 99;
    height: 80px;
    background-color: black;
    color: white;
}

#logo{
    width: 140px;
    height: 40px;
    border: 1px solid white;
    margin: auto 25px;
}

.headerLink{
    display: inline-block;
    margin: auto 20px;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 600;
}

.selected{
    color: red;
}

a{
    text-decoration: none;
    color: white; 
    padding: 6px; 
    font-size: 20px;
}
a:hover{
    color: #ff5722;
}

.spacer{
    padding-top: 100px;
}

#aboutUs{
    background-color: #efefef;
}

#aboutUsVideoContainer{
    width: 60%;
}

#aboutUsVideo{
    width: 100%;
    /* height: 350px; */
    margin-top: 40px;
}

#aboutUsContainer{
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 100px;
}

#aboutUsTileContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    padding: 90px 0;
}

#aboutUsContactUsContainer{
    background-color: rgba(158,158,158,.5);
    height: 200px;
    text-align: center;
    padding-top: 10px;
}

.aboutUsTiles{
    width: 300px;
    text-align: center;
    padding: 20px;
}

.aboutUsImage{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

#aboutUsTextContainer{
    width: 30%;
    align-self: center;
}

#aboutUsOurTeamContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgba(158,158,158,.5);
    height: 100%;
}

#aboutUsMiddleSection{
    text-align: center;
    background-color: #394b53;
    color: white;
    width: 100%;
    font-size: 30px;
    padding: 50px 0;
}

#aboutUsOurTeamContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 120px 0;
    justify-content: space-evenly;
}

.aboutUsOurTeamTile{
    width: 400px;
    height: 100%;
    align-self: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.aboutUsOurTeamTile p{
    font-size: 20px;
    letter-spacing: 2px;
}

.aboutUsOurTeamImage{
    width: 300px;
    height: 300px;
}

#triangles {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
 } 

#leftTriangle {
    background-color: rgba(158,158,158,.5);
    outline-style: none;
    height: 80px;
    border-top: 80px solid transparent;
    border-left: 50vw solid black;
}

#rightTriangle { 
    background-color: rgba(158,158,158,.5);
    height: 80px; 
    border-top: 80px solid transparent;
    border-right: 50vw solid black;
    outline-style: none;
}

#footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#topFooterSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 35px;
    background-color: black;
    color: white;
}

#locationInfo{
    text-align: left;
}

#socialMediaContainer{
    text-align: center;
}

#socialMedia{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.socialMedia{
    width: 30px;
    height: 30px;
}

#contactInfo{
    text-align: right;
}

#phoneNumber{
    font-size: 20px;
} 

#bottomFooterSection{
    height: 50px;
    background-color: black;
}

.contactUs{
    color: white;
    background-color: rgb(96,125,139);
    padding: 20px;
    border-radius: 4px;
    text-decoration: none;
}