body{
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Noto Sans", sans-serif;
}

::-webkit-scrollbar{
    width: 0;
}

.stickyHeader{
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index: 99;
    height: 80px;
    background-color: black;
    color: white;
}

#logo{
    width: 165px;
    height: 65px;
    border: 1px solid white;
    margin: auto 25px;
}

.headerLink{
    display: inline-block;
    margin: auto 20px;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 600;
}

.selected{
    color: #ff5722;
}

a{
    text-decoration: none;
    color: white; 
    padding: 6px; 
    font-size: 20px;
}
a:hover{
    color: #ff5722;
}

.spacer{
    padding-top: 100px;
}

#aboutUs{
    background-color: #efefef;
}

#aboutUsVideoContainer{
    width: 60%;
}

#aboutUsVideo{
    width: 100%;
    margin-top: 40px;
}

#aboutUsContainer{
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 100px;
}

#aboutUsTileContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    padding: 90px 0;
    background-color: #efefef;
}

#aboutUsContactUsContainer{
    background-color: rgba(158,158,158,.5);
    text-align: center;
    padding-top: 10px;
    width: 100%;
    z-index: 999;
}

.aboutUsTiles{
    width: 300px;
    text-align: center;
    /* padding: 20px; */
    font-size: 20px;
}

.aboutUsImage{
    height: 200px;
    width: 300px;
}

#aboutUsTextContainer{
    width: 38%;
    align-self: center;
}

#aboutUsOurTeamContainer{
   background-color: rgba(158,158,158,.5);
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}

#aboutUsMiddleSection{
    text-align: center;
    background-color: #394b53;
    color: white;
    width: 100%;
    font-size: 25px;
    padding: 25px 0;
}

#aboutUsOurTeamContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
}

#meetTheTeam{
    font-size: 60px;
    letter-spacing: 4px;
    text-align: center;
    background-color: rgba(158,158,158,.5);
    margin: 0;
    padding: 10px;
}

.aboutUsOurTeamTile{
    width: 420px;
    height: 100%;
    align-self: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.aboutUsOurTeamTile p{
    font-size: 20px;
    letter-spacing: 2px;
}

#danaPic{
    object-fit: cover;
}

.aboutUsOurTeamImage{
    width: 320px;
    height: 320px;
}

#triangles {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
 } 

#leftTriangle {
    background-color: rgba(158,158,158,.5);
    outline-style: none;
    /* height: 80px; */
    border-top: 80px solid transparent;
    border-left: 50vw solid black;
}

#rightTriangle { 
    background-color: rgba(158,158,158,.5);
    /* height: 80px;  */
    border-top: 80px solid transparent;
    border-right: 50vw solid black;
    outline-style: none;
}

#footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#topFooterSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 35px;
    background-color: black;
    color: white;
}

#locationInfo{
    text-align: left;
    font-size: 20px;
}

#socialMediaContainer{
    text-align: center;
}

#socialMedia{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.socialMedia{
    width: 50px;
    height: 50px;
}

#contactInfo{
    text-align: right;
}

#phoneNumber{
    font-size: 20px;
} 

#bottomFooterSection{
    height: 50px;
    background-color: black;
}

.contactUs{
    color: white;
    background-color: rgb(96,125,139);
    padding: 20px;
    border-radius: 4px;
    text-decoration: none;
}

#Text{
    font-size: 21px;
    width: 100%;
}

@media(max-width: 1024px){
    #aboutUsVideoContainer{
        width: 100%;
        display: block;
    }
    #aboutUsTextContainer{
        width: 100%;
        text-align: center;
    }

    #aboutUsTileContainer{
        width: 100%;
    }
    .aboutUsTiles{
        width: 45%;
    }
}