body{
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box;
}

.hide{
    display: none;
}

.display{
    display: block;
}

#jobAdContainer{
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid black; */
}

#seriousInquiries{
    text-align: center;
}

#noExperience{
    color: red;
}

#jobAdTitle{
    text-align: center;
}

::-webkit-scrollbar{
    width: 0;
}

.container{
    width: 100%;
    height: 100%;
}

#mobileHeader{
    display: none;
}

.spacer{
    padding-top: 100px;
}

.stickyHeader{
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index: 99;
    height: 80px;
    background-color: black;
    color: white;
}

.headerLink{
    display: inline-block;
    margin: auto 20px;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: white; 
    padding: 6px; 
    font-size: 20px;
}
a:hover{
    color: #ff5722;
}

#applyNow{
    text-align: center;
}

#triangles {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
 } 

#leftTriangle {
    background-color: rgba(158,158,158,.5);
    outline-style: none;
    height: 80px;
    border-top: 80px solid transparent;
    border-left: 50vw solid black;
}

.selected{
    color: #ff5722;
}

#logo{
    width: 165px;
    height: 65px;
    border: 1px solid white;
    margin: auto 25px;
}

#rightTriangle { 
    background-color: rgba(158,158,158,.5);
    height: 80px; 
    border-top: 80px solid transparent;
    border-right: 50vw solid black;
    outline-style: none;
}

#footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#topFooterSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 35px;
    background-color: black;
    color: white;
}

#locationInfo{
    text-align: left;
    font-size: 20px;
}

#socialMediaContainer{
    text-align: center;
}

#socialMedia{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.socialMedia{
    width: 50px;
    height: 50px;
}

#contactInfo{
    text-align: right;
}

#phoneNumber{
    font-size: 20px;
} 

#bottomFooterSection{
    height: 50px;
    background-color: black;
}