body{
    margin: 0;
}

.container{
    width: 100%;
    height: 100%;
}

.stickyHeader{
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index: 99;
    height: 80px;
    background-color: black;
    color: white;
}

.selected{
    color: red;
}

a{
    text-decoration: none;
    color: white; 
    padding: 6px; 
    font-size: 20px;
}
a:hover{
    color: #ff5722;
}

.spacer{
    padding-top: 100px;
}

#logo{
    width: 160px;
    height: 60px;
    border: 1px solid white;
    margin: auto 25px;
}

.noSticky{
    display: none;
}

.headerLink{
    display: inline-block;
    margin: auto 20px;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 600;
}

#triangles {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
 } 

#leftTriangle {
    background-color: rgb(96,125,139);
    outline-style: none;
    height: 80px;
    border-top: 80px solid transparent;
    border-left: 50vw solid black;
}

#rightTriangle { 
    background-color: rgb(96,125,139);
    height: 80px; 
    border-top: 80px solid transparent;
    border-right: 50vw solid black;
    outline-style: none;
}

#footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#topFooterSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 35px;
    background-color: black;
    color: white;
}

#locationInfo{
    text-align: left;
}

#socialMediaContainer{
    text-align: center;
}

#socialMedia{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.socialMedia{
    width: 30px;
    height: 30px;
}

#contactInfo{
    text-align: right;
}

#phoneNumber{
    font-size: 20px;
} 

#bottomFooterSection{
    height: 50px;
    background-color: black;
}