body{
    margin: 0;
    /* background-color: red; */
}

.container{
    width: 100vw;
    height: 100vh;
}

.stickyHeader{
    position: fixed;
    top: 0;
    /* width: 100%; */
    z-index: 99;
}

.noSticky{
    display: none;
}

.headerLink{
    display: inline;
    margin: 15px;
    font-size: 30px;
    letter-spacing: 2px;
}

#mainVideo{
    width: 100%;
}

#footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: blue;
    height: 100px;
}