body{
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
}

.stickyHeader{
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index: 99;
    height: 120px;
}

a{
    text-decoration: none;
    margin: auto 15px;  
    color: black; 
    padding: 6px; 
    font-size: 20px;
}
a:hover{
    color: red;
}

#logo{
    width: 140px;
    height: 75px;
    border: 1px solid black;
    margin: auto 25px;
}

.noSticky{
    display: none;
}

.headerLink{
    display: inline;
    margin: 30px 15px;
    font-size: 20px;
    letter-spacing: 4px;
    color: white;
    font-weight: 600;
}

#mainVideo{
    width: 100%;
}

#button{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 800px;
    left: 800px;

}

#footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: blue;
    height: 100px;
}