body{
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box;
    background-color: rgb(96,125,139);
}

::-webkit-scrollbar{
    width: 0;
}

.container{
    width: 100%;
    height: 100%;
}

.stickyHeader{
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index: 99;
    height: 80px;
    background-color: black;
    color: white;
}

.selected{
    color: #ff5722;
}

#logo{
    width: 165px;
    height: 65px;
    border: 1px solid white;
    margin: auto 25px;
}

.headerLink{
    display: inline-block;
    margin: auto 20px;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 600;
}

#ourServicesTileContainer{
  padding: 80px 0;
  background-color: #efefef;
  width: 100vw;
}

#servicesPageTitle{
    font-size: 60px;
    text-align: center;
}

#servicesPageSubTitle{
    font-size: 45px;
    text-align: center;
}

a{
    text-decoration: none;
    color: white; 
    padding: 6px; 
    font-size: 20px;
}
a:hover{
    color: #ff5722;
}

#servicesContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 0;
    width: 100%;
    margin: 0 auto;
}

.servicesTile{
    width: 260px;
    height: 260px;
    text-align: center;
    margin-bottom: 35px;
}

.servicesImage{
    width: 100%;
    height: 90%;
}

#seoInformationContainer{
    background-color: rgb(96,125,139);
    width: 95%;
    padding: 30px;
    color: white;
    text-align: center;
}

#merchandising{
    align-self: flex-end;
    margin-top: 60px;
    margin-bottom: 50px;
}

#interactive{
    align-self: flex-end;
    margin-top: 60px;
}

#seoText{
    width: 90%;
    margin: 0 auto;
}

#triangles {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
 } 

#leftTriangle {
    background-color: rgb(96,125,139);
    outline-style: none;
    /* height: 80px; */
    border-top: 80px solid transparent;
    border-left: 50vw solid black;
}

#rightTriangle { 
    background-color: rgb(96,125,139);
    /* height: 80px;  */
    border-top: 80px solid transparent;
    border-right: 50vw solid black;
    outline-style: none;
}

#footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#topFooterSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 35px;
    background-color: black;
    color: white;
    width: 100vw;
}

#locationInfo{
    text-align: left;
    font-size: 20px;
}

#socialMediaContainer{
    text-align: center;
}

#socialMedia{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.socialMedia{
    width: 50px;
    height: 50px;
}

#contactInfo{
    text-align: right;
}

#phoneNumber{
    font-size: 20px;
} 

#bottomFooterSection{
    height: 50px;
    background-color: black;
}

@media(max-width: 1024px){
    #header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index: 99;
    height: 80px;
    background-color: black;
    color: white;
    }
     .headerLink{
        font-size: 15px;
        margin: auto 10px
    }
}

@media(max-width: 768px){
    html, body{
        overflow-x: hidden;
         /* overflow-x: hidden; */
         width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    #header{
        position: fixed;
        display: flex;
        justify-content: space-between;
        top: 0;
        width: 100%;
        z-index: 99;
        height: 70px;
        background-color: black;
        color: white;
    }
    .headerLink{
        font-size: 12px;
        margin: auto 8px;
    }
    #mobileHeader{
        display: none;
    }
    #mobileLinks{
        display: none;
    }
     #logo{
        height: 40px;
        width: 100px;
        margin-top: 16px;
        margin-left: 15px;
    }

}

@media(max-width: 414px){
    html, body{
        overflow-x: hidden;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #header{
        display: none;
    }

    #mobileHeader{
        display: flex;
        height: 70px;
        justify-content: space-between;
    }

    #mobileLinks{
        display: none;
        flex-direction: column;
    }

    #hamburgerMenuIcon{
        width: 40px;
        height: 40px;
        margin: 10px;
    }

    #mobileLogo{
        height: 40px;
        width: 100px;
        margin-top: 14px;
        margin-left: 15px;
    }
    
    .stickyHeader{
        display: none;
    }

    #servicesPageTitle{
        font-size: 50px;
    }
    #servicesPageSubTitle{
        font-size: 38px;
    }

    .servicesTile{
        width: 100%;
    }
    #retailEvents{
        margin-top: 60px;
    }

    #training{
        margin-top: 60px;
    }

    #seoInformationContainer{
        margin-right: 100px;
        width: 100%;
    }

    #seoTitle{
        margin-right: 100px;
        width: 85%;
    }

    #seoText{
        margin-right: 140px;
        width: 85%;
    }
}